<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Lecturer Login</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>

    </style>
</head>
<body>
<section class="container">
    <h1>Face Recognition</h1>
    <h2>Lecturer Login</h2>
    {% if error_message %}
    <div class="error">{{ error_message }}</div>
    {% endif %}
    <form action="{{ url_for('login') }}" class="form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="input-box">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter email address" required />
        </div>
        <div class="input-box">
            <label for="password">Password</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Enter password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility()">
                    <i class="far fa-eye" id="eye-icon"></i>
                </span>
            </div>
        </div>
        <button type="submit">Login</button>
        <div class="register--btn">
            <a href="/signup" class="register--btn">Register</a>
        </div>
    </form>
</section>
 <script>
        function validateEmail() {
            const emailInput = document.getElementById('email');
            const emailError = document.getElementById('email-error');
            const emailPattern = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

            if (!emailPattern.test(emailInput.value)) {
                emailError.style.display = 'block';
                return false;
            }

            emailError.style.display = 'none';
            return true;
        }

        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const eyeIcon = document.getElementById('eye-icon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('far', 'fa-eye');
                eyeIcon.classList.add('fas', 'fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fas', 'fa-eye-slash');
                eyeIcon.classList.add('far', 'fa-eye');
            }
        }
    </script>
</body>
</html>
