<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Lecturer Login</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
</head>
<body>
<section class="container">
    <header>Lecturer Login</header>
    {% if error_message %}
    <div class="error">{{ error_message }}</div>
    {% endif %}
    <form action="{{ url_for('login') }}" class="form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="input-box">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter email address" required />
        </div>
        <div class="input-box">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required />
        </div>
        <button type="submit">Login</button>
        <a href="/signup" style="text-align:center">Register</a>
    </form>
</section>
</body>
</html>
